#header-nav{
 background-color: grey;
 margin-bottom: 20px
}
#text{
    font-family: italic;
    font-weight: bold;
    margin-left: 30px;
    font-size: 30px
}
h1{
    text-align: center;
    margin-bottom: 50px
}
h2{
    text-align: center;
}
.container{
    background-color: grey;
    height: 1000px
}
li{
    text-align: center;
    font-size: 20px;
    background-color: white
}
@media (max-width: 575px){
    button{visibility:visible;
    }
}
@media (min-width: 578px){
    button{visibility: hidden }
        
